.a{
    color: #4E47FF;
    margin: 0px 50px;
    font-weight: bold;
}
.b{
    color: #FFFFFF;
    background-color: #4E47FF;
    margin: 0px 50px;
    padding: 12px 35px;border-radius: 10px;
    border: none;
}
.h{
    color: #FFFFFF;
    background-color: #4E47FF;
    margin: 0px;
    padding: 12px 35px; border-radius: 10px;
    border: none;
}
.c{
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.d{
    text-align: center;
    margin: 100px 50px;
}
.e{
    font-weight: bold;
    font-size: 40px;
}
header{
    background-image:url("../Assets/Hero-bg.png");
height: 450px;width: 100%
}
.f{
    display: flex;
    justify-content: space-between;
    margin: 50px;
}
.g{
    height: 200px; width: 200px;
     border-radius:10px ;

}
.j{
    text-align: center;
}
.k{font-size: 40px;
    font-weight: bold;
    color: #4E47FF;
}
.i{
    display: flex;
    justify-content: space-around;
}
.l{
    margin: 50px;
    background-color: mediumslateblue;
    padding: 10px 40px;
}
.p{
    display: flex;
    margin: 5px;
}
.im{
    border: none;
    border-radius: 10px;
}
.o{
    display: flex; justify-content:space-around;}
.r{
    text-align: center;
}
.s{
    height: 200px; width: 900px;
}
.q{
    margin: 50px;}
.ce{
    text-align: center;
}
.web{
    border-radius: 30px;
    height: 200px; width: 600px;
}
.ce nav{
    gap: 5px;
}
.pic{
    border-radius: 50px;
}
.t{
    display: flex;
 margin: 50px;
    justify-content: space-between;
}
.bo{
    font-weight: 900;
    font-size: 50px;
}
div ul{
    display: flex;
    justify-content: space-around; margin: 0px 100px;
}
div ul li{
    list-style: none;
}
.center{
    text-align: center;
}
.logo{
    font-size: 40px; font-weight: 900;
    text-align: center;
    color: #4E47FF;
}
.li{
    margin: 50px;
}